apiVersion: v1
name: k8s-deletion-inspector
version: ${CHART_VERSION}
appVersion: ${APP_VERSION}
description: k8s-deletion-inspector is a tool tunneling prometheus metrics from a kubernetes cluster to a remote exporter.
keywords:
- kubernetes
- monitoring
home: https://support.tools/
sources:
- https://github.com/supporttools/Prometheus-Tunnel
maintainers:
- name: mattmattox
  email: mmattox@support.tools
icon: https://cdn.support.tools/profiles/avatar-centered.png
